root{
    font-size: 2vh;
    font-size: 1vw;
    font-family: "Lucida Bright";

}
#clock {



    position: absolute;
top: 11%;
    left: 4%;
    width: 25%;
    margin: 200px;
    text-align: center;
    font-size: 45px;
   color: #4501f1;

    box-shadow: 0 0 20px #460ae1, 0 0 20px #0aa0e1;



}

