#page-7{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100vw;
    background-color: #737272;
    position: relative;
}
#page-7 h4{
    position: absolute;
    left: 90%;
    bottom: 30%;
    color: white;
}

#myMap{
    position: absolute;
    bottom: 20%;

}
#myMap iframe {
    border-radius: 5%;
    border: none;
}

#myMap h3{
    color: #f1ecf1;

}