
:root {
    font-size: 2vh;
    font-size: 1vw;
    font-family: "Lucida Bright";
    --clr-neon: hsl(171, 100%, 54%);
    --clr-bg: hsl(257, 91%, 46%);
}



h1{
    font-size: 4vh;
}
#logo img{
    border-radius: 50%;

}
#mainDiv{
    display: flex;
    flex-direction: column;
    height: 150vh;

}
#page-1{
    height: 80vh;
}

body{

    padding:0;
    margin: 0;
    background-color: #070707;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: scroll;
}
body>main{
    display: flex;
flex-direction: column;
width: 50vw;
}
body h3{
    color:white;
    font-family: 'Merriweather', serif;
    -webkit-mask-image: linear-gradient(-75deg, rgb(231, 10, 10) 30%, #d908e0 50%, rgba(162, 25, 25, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite; }

body h1{
    color: #ffffff;
    font-family: 'Merriweather', serif;
    -webkit-mask-image: linear-gradient(-75deg, rgb(231, 10, 10) 30%, #d908e0 50%, rgba(162, 25, 25, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite; }


#page-1{
    box-shadow: 0 0 5px #460ae1, 0 0 20px #f3f3f3;
    position: relative;


}
body>header{
    position: relative;
    width: 5vw;
    height: 7vh;
}
#navigation{

    color: #0a0a0a;
   position: absolute;
    width: 50vw;
    right: 0;

}
#navigationOl{
    position: fixed;
z-index: 1000;
    list-style-type: none;
    padding: 5px;

  margin: 0;

}
li{
    font-size: 1.2em;
text-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline;
    padding: 10px;
    color: antiquewhite;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) ;

}
#navigation ol>li:hover{

    background-color: #050801;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    font-weight: bold;
    border: none;
    overflow: hidden;
    transition: 1s;
    cursor: pointer;
    border-radius: 50%;
padding-right: 10px;
    opacity: 1;

    transition: all 2s;
}


#profilePhoto{
    display: flex;
    justify-content: center;
    align-items: center;




}
#mainArticle1Container{
    width: 10vw;
    height: 10vh;
    text-shadow: 5px 2px #242224, 2px 4px #b6bcc2, 3px 5px #638db7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
    padding-left: 10%;
    position: absolute;
    bottom: 60%;
}
#mainArticle1{

    color: #ffffff;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;



}
#mainArticle1 span{
    color: #05efce;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);

}
#mainArticle2 {

    font-weight: 900;
    font-size: 3.3em;
    position: absolute;
left: 50%;
    text-shadow: 5px 2px #460ae1, 2px 4px #460ae1, 3px 5px #4a06f6;
    font: 1170 normal 22px 'tahoma';
    -webkit-mask-image: linear-gradient(-75deg, rgb(231, 10, 10) 30%, #ffffff 50%, rgba(162, 25, 25, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite;
}
#mainArticle2 #mainArticle2S1{
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
#mainArticle2 #mainArticle2S2{
    display: inline-block;
    line-height: 1em;
}

 #profilePhotoDiv{
    position: absolute;
    left: 80%;
    top: 20%;
}
   #contectWithArticle{
       position: absolute;

       left: 50%;
   }


   #contectWithArticleOl{
       width: 40vw;
       position: absolute;
top: 50%;
       bottom: 50%;
       left: 50%;
       right: 50%;
justify-content: center;
       align-items: center;
       list-style-type: none;
       margin: 0;
       padding: 10px;
       display:inline;


   }
   #contectWithArticleOl img{
width: 10%;
       background-color: #050801;
       box-shadow: 0 0 5px #460ae1, 0 0 20px #460ae1;
       color: #03e9f4;
       font-weight: bold;
       border: none;
       border-radius: 5px;
       display: inline;

       justify-content: center;
       align-items: center;
       overflow: hidden;
       transition: 1s;
       cursor: pointer;
       border-radius: 20%;

   }
@keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
#contectWithArticleOl img:hover{
    background-color: #e70a0a;
     animation: rotation 2s infinite linear;
}

@keyframes typing {
    from { hight: 0 }
    to { width: 100% }
}@keyframes navigation {
    from {transform: translateX(-400) }
    to { transform: translateX(400) }
}
@keyframes blink{
    0% {
        background: red;
    }

    100% {
        background: #d908e0;
    }
}
@keyframes blinking {
    from { border-color: transparent }
    to { border-color: green; }
}
@media screen and (max-width:1000px){
    body{width: 100%;}
   #navigation {right: 0;left: 20%}
   article{width: 100%;}
   p{width: 100%;}
   #logo{width: 120%}
#profilePhotoDiv img{width: 80%}
#page-1{width: 100%}
#location{top: 46%}
#joinContactForm h3{bottom: 20%}

#contectWithArticleOl{
    top: 30%;
}
#formDiv{left: 30%}
   #page-2 #profilePhotoDiv img{width: 50%}
   ol{width: 100%;}
   li{width: 100%;}
    #page-1{height: 40vh}
}



