#page-7{
    height: 80vh;

    background-color: #070707;
    position:relative;
}
#gallary {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #070707;
height: 80%;
    width: 50%;
  display: inline;
    overflow-y: scroll;

}
#gallary .gallaryDiv img{
    display: flex;
    justify-content: center;
    justify-items: center;

    width: 100%;
    height: auto;

}
#gallary .gallaryDiv{
    margin: 5px;
    border: 1px solid #ffffff;
    float: left;
    width: 180px;
    grid-template-columns: auto;
    grid-template-rows: auto;

}
#gallary .gallaryDiv:hover {
    border: 5px solid #460ae1;
}

#gallary::-webkit-scrollbar {
    width: 20px;
}

/* Track */
#gallary::-webkit-scrollbar-track {
    box-shadow: inset 0 2px 6px grey;
    border-radius: 10px;
}

/* Handle */
#gallary::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #460ae1 0%, #EEC0C6 99%);
    border-radius: 10px;
    height:5px;
}
