:root {
    font-size: 2vh;
    font-size: 1vw;
    font-family: "Lucida Bright";
}
#page-2{


    position: relative;
    background-color: #070707;

    display: flex;
    flex-direction: column;
    align-content: center;
    height: 50vh;
    width: 100vw;
}
#flexProject{
    display: flex;
    overflow-x: scroll;
    width: 71%;
    height: 74%;
    background-color: #070707;
    margin-left: 20%;

}
#flexProject div h1{
    color: #0a0a0a;

}
#flexProject div{

    background: linear-gradient(to bottom, #33ccff 0%, #460ae1 100%);
    flex-direction: row;
    justify-content: center;
    align-items: center;
height: 80%;
    width: 40%;
    border-radius: 20%;
    padding: 2%;
    margin-left: 10%;
}
#flexProject div:hover{
    background: linear-gradient(to bottom, #33ccff 0%, #fa0707 100%);
}

#flexProject::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#flexProject::-webkit-scrollbar-track {
    box-shadow: inset 0 2px 6px grey;
    border-radius: 10px;
}

/* Handle */
#flexProject::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #460ae1 0%, #EEC0C6 99%);
    border-radius: 10px;
    height:10px;
}