:root {
    font-size: 2vh;
    font-size: 1vw;
    font-family: "Lucida Bright";
}
#page-4{

    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #460ae1, 0 0 20px #f3f3f3;
    width: 100vw;
    height: 100vh;



}
/*#abouDiv{
    background-color: #f0f3ec;
    height: 70vh;
    width: 30vw;
  position: relative;
    left: 60%;
    bottom: 20%;
    top:10%;
    overflow-y:scroll;
    border-radius: 5%;
}*/
#page-4 h1{
    color: #ffffff;
    position: absolute;
    left: 60%;
    top: -18%;
}
/*
#page-4 #aboutArtical {
    color: #070707;
    position: absolute;
    bottom: 15%;
    left: 3%;

    width: 50%;
    font-size: 140%;
}
#aboutCv{
    position: absolute;
    left: 24%;
    bottom: -19%;
}
#aboutProfilePhoto{

    position: absolute;
    left: 20%;
    width: 130%;
    top: 5%;
}*/
#page-4>section{
    display: flex;
    align-items: center;

}
#page-4 article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100vh;
}
#page-4 article>:first-child{
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-4 article>:first-child>img{
    width: 30%;

}
#page-4 article>:last-child{
    height: 100%;
    width: 40%;
    display: flex;
    background: #f6f5f2;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    flex-wrap: wrap;
    border-radius: 3%;
}
#page-4 article>:last-child>:nth-child(1){
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-size: 1.5em;


}

#page-4 article>:last-child>:nth-child(2)>a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#page-4 article>:last-child>:nth-child(2) img{
    width: 40%;
}
#abouDiv{
    height: 100%;
    margin: 2%;
    max-height: 90%;
    padding: 0.01rem;
overflow-y: hidden;
    direction: ltr;
    overflow-x: hidden;
}
#abouDiv a {
    color: #230f0f;
    text-decoration: none;
}
#abouDiv img{
    width: 30%;
}

/* width */


/* Track */
