@media all and (max-width:800px) and (min-width: 600px){
    body{width: 100%;overflow-x:hidden;}
    #navigation {right: 0;left: 20%}
    article{width: 100%;}
    p{font-size: 2em}

    #logo{width: 120%}
    #profilePhotoDiv img{width: 80%}
    #page-1{width: 100%}
    #location{top: 46%}


    #contectWithArticleOl{
        top: 30%;
    }
    #gallary{left: 80%}

    /*#page-6 #formDiv form input{width: 100%}*/
    /*#page-6 #formDiv form h3{width: 100% }*/

    #page-2 #profilePhotoDiv img{width: 50%}
    ol{width: 100%;}
    li{width: 100%;!important;}
    #page-1{height: 60vh}

    .projectButton{
        width: 100px;
        height: 90px;
    }

    #page-4{
        height: 100vh;
    }
    #page-4 article>:first-child>img{
        width: 76%;
    }
    #abouDiv{
        height: 54%;
        width: 48%;
    }
    #page-4 h5{
        font-size: 1.5em;!important;
    }
    #formDiv{

        left: 33%;!important;

    }
    body{
        overflow-x: hidden;
    }
    .contctBtn1 h4{
        font-size: 1.4em;
       text-align: center;
        width: 98px;

    }
    #buttonContctMain>:last-child{
        margin-left: 30%;


    }
    #buttonContctMain>:first-child{
        margin-right: 30%;
    }
    #page-4{
        height: 56vh;
    }
    #page-4 h2{
        font-size: 1.4em;
        text-align: center;
    }
    #page-5{
        height: 64vh;

    }

    }

@media all and (max-width:600px )and (min-width: 300px){
    .projectButton{
        width: 100px;
        height: 90px;
    }
    #page-4{
        height: 100vh;
    }
    #page-4 article>:first-child>img{
       width: 76%;
    }
    #abouDiv{
        height: 67%;!important;
        width: 50%;
    }
    #page-4 h5{
        font-size: 1.5em;!important;
    }
    #page-6{
        height: 100vh;
    }
    #page-6 p{
        font-size: 1.8em;
    }
    #page-6 h3{
        font-size: 1.2em;
    }
    #skillDiv div{
        width: 53vw;
    }
    #page-3 h5{
        font-size: 2em;
    }
    #navigationOl li{
        font-size: 1.7em;

    }
    #navigation{
        padding-left: 25%;
    }
    #mainArticle2S1{
        font-size: 2em;
    }
    #contectWithArticleOl{
        width: 80%;
    }
    body{
        overflow-x: hidden;
    }
    .contctBtn1 h4{
        font-size: 2.3em;
        text-align: center;
        width: 98px;


    }
    #buttonContctMain>:last-child{
        margin-left: 50%;


    }
    #buttonContctMain>:first-child{
        margin-right: 50%;
    }
    #page-4{
        height: 56vh;
    }
    #page-4 h2{
        font-size: 2.2em;
        text-align: center;
    }
}